@model IEnumerable<Pratz.Customer>
@{
    ViewBag.Title = "Index";
}

<br />
<br />
<h3>Customer Details</h3>

<p>
    <a href="#" class="ui blue button" onclick="AddNewCustomer()">Add New Customer</a>
</p>
<table class="ui definition  table" id="myTable">
    <tr>
        <th>Id</th>
        <th>Customer Name</th>
        <th>Address</th>
        <th>Status</th>
        <th>Contact</th>
        <th>Date</th>
        @*<th>Note</th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tbody id="myTables">
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>*@
            </tr>
        </tbody>
    }

    <tbody id="setData">
        <tr><td colspan="4" class="text-center"><img src="~/Content/Images/onloading.gif" id="load" style="display:none" /></td> </tr>
    </tbody>

</table>

@*Create A popup modal*@
<div class="ui modal" id="MyModal" style="height:656px;width:60%;">
    <div class="header text-center">
        Customer Detail
    </div>
    <h4 class="text-info" id="title"></h4>
    <div class="content">
        <form id="form">
            <div class="form-group" id="customerId">
                <label for="Id">Customer ID</label>
                <input type="text" id="Id" name="Id" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Please input the customer name" class="form-control" />
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" id="address" name="address" placeholder="please input the customer address" class="form-control" />
            </div>
            <div class="form-group">
                <label for="address">Status</label>
                <select class="ui fluid selection dropdown" id="status" name="status">
                    <option value="Prospective">Prospective</option>
                    <option value="Current">Current</option>
                    <option value="Non-active">Non-active</option>
                </select>
            </div>

            <div class="form-group">
                <label for="address">Contact</label>
                <input type="text" id="contact" name="contact" placeholder="please input the customer address" class="form-control" />
            </div>

            <div class="form-group">
                <label for="address">Date</label>
                <input id="date" name="date" placeholder="date" readonly class="form-control" />
            </div>
            <div class="action text-right">
                <div class="two fluid ui inverted buttons">
                    <a href="#" class="ui approve green button" id="SaveRecord">Save</a>
                    <a href="#" class="ui cancel red inverted button" id="cancel" onclick="SaveCancel()">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts{
    <script type="text/javascript">

        //Pagination//
        var $table = document.getElementById("myTable"),
            $n = 10,
            $rowCount = $table.rows.length,
            $firstRow = $table.rows[0].firstElementChild.tagName,
            $hasHead = ($firstRow === "TH"),
            $tr = [],
            $i, $ii, $j = ($hasHead) ? 1 : 0,
            $th = ($hasHead ? $table.rows[(0)].outerHTML : "");
        var $pageCount = Math.ceil($rowCount / $n);

        if ($pageCount > 1) {

            for ($i = $j, $ii = 0; $i < $rowCount; $i++ , $ii++)
                $tr[$ii] = $table.rows[$i].outerHTML;

            $table.insertAdjacentHTML("afterend", "<div id='buttons'></div");

            sort(1);
        }


        function sort($p) {

            var $rows = $th, $s = (($n * $p) - $n);
            for ($i = $s; $i < ($s + $n) && $i < $tr.length; $i++)
                $rows += $tr[$i];


            $table.innerHTML = $rows;
            document.getElementById("buttons").innerHTML = pageButtons($pageCount, $p);
            document.getElementById("id" + $p).setAttribute("class", "active");
        }



        function pageButtons($pCount, $cur) {
            var $prevDis = ($cur == 1) ? "disabled" : "",
                $nextDis = ($cur == $pCount) ? "disabled" : "",
                $buttons = "<input type='button' value='&lt;&lt; Prev' onclick='sort(" + ($cur - 1) + ")' " + $prevDis + ">";
            for ($i = 1; $i <= $pCount; $i++)
                $buttons += "<input type='button' id='id" + $i + "'value='" + $i + "' onclick='sort(" + $i + ")'>";
            $buttons += "<input type='button' value='Next &gt;&gt;' onclick='sort(" + ($cur + 1) + ")' " + $nextDis + ">";
            return $buttons;
        }
        //pagination end//

        //Add customers//
        function AddNewCustomer() {

            $("#MyModal").modal("show");
            AutoDate();
            $("#title").html("Add a new customer detail.")
            $("#customerId").hide();
            if ($("#Id").val() > 0) {
                $("#MyModal input").val("");

            }
        }


        //cancel button for save//
        function SaveCancel() {
            $("#MyModal").modal("hide")
        }
        function DeleteCancel() {
            $("#DeleteConfirm").modal("hide")
        }


        function Validation() {
            if ($("#name").val().length == 0 || $("#address").val().length == 0 || $("#status").val().length == 0 || $("#contact").val().length == 0) {
                alert("Please input the customer name and address!")
                return false;
            }
            else {
                return true;
            }
        }

        //Current datepicker//
        function AutoDate() {

            var currentTime = new Date();
            y = currentTime.getFullYear();
            m = currentTime.getMonth() + 1;
            d = currentTime.getDate();

            hours = currentTime.getHours(),
                minutes = currentTime.getMinutes();

            if (minutes < 10) {
                minutes = "0" + minutes;
            }
            var dd = d + "/" + m + "/" + y + " " + hours + ":" + minutes;
            $("#date").val(dd);
            console.log(dd);
        }

        //save customer//
        $("#SaveRecord").click(function () {

            if (Validation()) {
                var data = $("#form").serialize();
                var url = "";
                if ($("#Id").val() > 0) {
                    url = "/Customer/UpdateCustomer"
                }
                else {
                    url = "/Customer/AddCustomer"
                }
                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    success: function (result) {
                        alert("Add Success...");
                        window.location = "/Customer/Index";
                        $("#MyModal").hide();
                    },
                    error: function (error) {
                        alert(error);
                    }
                });
            }
            else {
                return;
            }
        })

    </script>
}


